"*":
  "atom-beautify":
    general:
      _analyticsUserId: "5101e198-7ec6-45c6-b302-0639229f0961"
  "atom-minimap-titles":
    font: "banner"
  "autocomplete-plus":
    confirmCompletion: "tab"
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "metrics"
      "linter-scss-lint"
      "exception-reporting"
      "coffee-compile"
      "meteor-api"
      "linter-tidy"
      "merge-conflicts"
    ]
    projectHome: "/Users/Edditoria/dev"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "pen-paper-coffee-syntax"
    ]
  editor:
    fontFamily: "'DejaVu Sans Mono'"
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  linter: {}
  "linter-jshint": {}
  "linter-stylelint":
    disableWhenNoConfig: false
    useStandard: true
  "linter-ui-default":
    panelHeight: 231
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
  pigments: {}
  "preview-plus":
    livePreview: true
  "source-preview": {}
  "terminal-plus":
    style:
      fontSize: "14"
      theme: "novel"
  "tree-view": {}
  welcome:
    showOnStartup: false
".css.source.stylus":
  editor:
    autoIndentOnPaste: false
